html{
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  font-family: "Chilanka", cursive;
  height: -webkit-fill-available;
}

section {
    /* Snap align start. */
    scroll-snap-align: start;
  }

.header {
  padding-top: 20px;
  margin:0px;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  position: fixed;
  z-index: 2;
}

@keyframes example {
  0% {
    color:black;
    font-weight: 700;
  }
  25% {
    font-weight: 300;
  }
  50% {
    font-weight: 700;
  }
  75% {
    font-weight: 300;
  }
  100% {
    font-weight: 700;
  }
}

.navbar-brand {
padding:.1em;
margin-left:1em;
  font-size: 32px;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.navbar-nav {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
  position: relative;
}
.nav-item {
  letter-spacing: 0.15em;
  margin-left: 20px;
  position: relative;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 250px 0 250px;
  overflow: hidden;
  z-index: -2;
}

.banner .clouds,.about .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/cloud.png");
  background-attachment: fixed;
  animation: animate 500s linear infinite;
  background-blend-mode: multiply;
}
@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}

.intro {
  font-size: 42px;
}

.typewriter{
    padding-top: 20px;
}
.typewriter p{
    display: inline-block;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.2em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: /* typing 1s steps(40) infinite,*/ blink-caret 0.25s step-end infinite; 
}

/* The typing effect 
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
*/
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}


.about{
  position: relative;
  min-height: 100vh;
  background: url("../img/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 250px;
  overflow: hidden;
  color: white;
}


.sticky-top.scrolled {
    background-color: rgba(43, 43, 43, 0.80) !important;
    transition: background-color 1s linear;
  }

